.alignleft{
    float: left;
    margin-right: 15px;
}
.alingright{
    float: right;
    margin-left: 15px;
}
.alingcenter {
    display: block;
    margin: o auto 15px 
}
a:focus, input:focus, textarea:focus,button:focus {
    outline: 0 solid;
}
img {
    max-width: 100%;
    height: auto;
}
h1
h2
h3
h4
h5
h6{
    margin: 0 0 15px;
    font-weight: 700;
}
body{
    font-family: khula ;
}
a:hover {
    text-decoration: none;

}
.mainmenu ul {
    margin: 0;
    padding: o;
    list-style: none;
}

.mainmenu li {position: relative;display: inline-block;padding: 26px 26px;}

.mainmenu li a {
    display: block;
    color: #888;
}

a.boxed-btn {
    margin: 24px;
    padding: 1px;
    display: inline-block;
    
}


.boxed-btn,input[type=submit],button[type=submit] {
    display: inline-block;
    color: #999;
    font-size: 14px;
    padding: 13px 25px;
    border-radius: 1px;
    border: none;
  }
  input[type="text"],input[type="tell"],input[type="password"],input[type="url"],input[type="textarea"] {
    border: 1px solid;
    padding: 10px 15px;
  }
  input[type="submit"], button[type="submit"] {
    padding: 11px 25px;
    font-weight: 400;
  }
 
  .website-checker-form {
    margin-top: 30px;
  }
  
  .hero-area {
    font-weight: 300;
    padding: 150px 0;
    border-bottom: 1px soild;
  }
  .header-area {
    padding: 20px 0;
  }

  
.section-padding {
    padding: 150px 0;
  }
  .section-title {
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  .single-service-box {
    border: 1px solid #fafafa;
    padding: 25px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 50px;
  }
  .service-icon {
    font-size: 30px;
  }
  .single-service-box h3 {
    font-size: 20px;
    margin: 15px 0;
  }
  .single-service-box:hover {
    color: aqua;
  }
  
  .single-service-box:hover.a service-readmore-btn {
    color: #df2020;
  }
  .pd-50 {
    padding-top: 50px;
  }
  .h2 {
    font-size: 28px;
    line-height: 35px;
  }
  h2 {
    font-size: 28px;
    line-height: 35px;
  }
 .new text {
font-size: medium;
color: red;
text-align: center;
}
